In [69]:
import pandas as pd

In [70]:
df = pd.read_csv("adult.data.csv")

In [71]:
pd.set_option("display.max_rows",500)
pd.set_option("display.max_columns",500)

### Read data

In [72]:
print(df)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]

### How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [73]:
race_count = df["race"].value_counts()
print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

### What is the average age of men?

In [74]:
average_age_men = round(df[df["sex"]=="Male"]["age"].mean(),1)
print(average_age_men)

39.4

### What is the percentage of people who have a Bachelor's degree?

In [77]:
percentage_bachelors = round((df[df["education"]=="Bachelors"]["education"].shape[0]/df.shape[0])*100,1)
print(percentage_bachelors)

16.4

#### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [76]:
percentage_adv_more_than_50K = ((df[(df["education-num"]>=13)&(df["salary"]==">50K")].shape[0])/df[df["salary"]==">50K"].shape[0])*100
print(percentage_adv_more_than_50K)

49.85333503379671

#### with and without `Bachelors`, `Masters`, or `Doctorate`

In [40]:
higher_education = df[df["education"].isin(["Bachelors","Masters","Doctorate"])]
mask = df["education"].isin(["Bachelors","Masters","Doctorate"])
lower_education = df[~mask]

### percentage with salary >50K

In [65]:
higher_education_rich = round(((higher_education[higher_education["salary"]==">50K"].shape[0])/higher_education.shape[0])*100,1)
lower_education_rich = round(lower_education[lower_education["salary"]==">50K"].shape[0]/lower_education.shape[0]*100,1)
print(f"higher_education_rich = {higher_education_rich}")
print(f"lower_education_rich = {lower_education_rich}")

higher_education_rich = 46.5
lower_education_rich = 17.4

### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [67]:
min_work_hours = df["hours-per-week"].min()
print(min_work_hours)

1

### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [68]:
num_min_workers = df[(df["salary"]==">50K")&(df["hours-per-week"]==min_work_hours)].shape[0]

rich_percentage = (num_min_workers/df[df["hours-per-week"]==min_work_hours].shape[0])*100
print(rich_percentage)

10.0

### What country has the highest percentage of people that earn >50K?

In [62]:
earning_country_count = df[df["salary"]==">50K"]["native-country"].value_counts()
country_count = df["native-country"].value_counts()
highest_earning_country = ((earning_country_count/country_count)).sort_values(ascending=False)
print(highest_earning_country.idxmax())

Iran

In [79]:
highest_earning_country_percentage = round(((highest_earning_country_count/country_count)*100).max(),1)
print(highest_earning_country_percentage)

41.9

### Identify the most popular occupation for those who earn >50K in India.

In [61]:
top_IN_occupation=(df[(df["salary"]==">50K")&(df["native-country"]=="India")])["occupation"].value_counts().index[0]
print(top_IN_occupation)

Prof-specialty